html, body
	padding 0
	margin 0

div, canvas, header
	box-sizing border-box

.app > header
	border-bottom 2px solid #EEE
	height 150px

	& > .hire-range-slider
		display inline-block
		width 50%

canvas
	position absolute
	top 220px

canvas#image
	// border 2px solid #EEE
	left 70px

canvas#leftmap
	left 10px
	width 50px

canvas#topmap
	height 50px
	left 70px
	top 160px
